mixin body
  body
      audio#beep
        source( src="assets/sound/beep.wav" type="audio/wav")
        
      audio#explosionNoise
        source( src="assets/sound/explosion.wav" type="audio/wav")
      +pre
      +explosion
      +init
      +countdown
      +scripts
